@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background: #F2F2F2;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.form__error {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

.input._focus {
  -webkit-box-shadow: 5px 5px 5px green;
          box-shadow: 5px 5px 5px green;
}

.input._error {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 195px;
  height: 44px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  -webkit-transition: background .2s ease-in 0s;
  -o-transition: background .2s ease-in 0s;
  transition: background .2s ease-in 0s;
}

.title-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.link-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  -webkit-transition: all .2s ease-in 0s;
  -o-transition: all .2s ease-in 0s;
  transition: all .2s ease-in 0s;
}

.title-main {
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
}

.header {
  padding-top: 21px;
  margin-bottom: 21px;
  height: 175px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header._scroll {
  background: rgba(255, 255, 255, 0.87);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.header__link {
  margin-left: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  white-space: nowrap;
}

.logo {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__logo {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #E1E1E1;
}

.logo__task {
  display: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: red;
}

.social__item:not(:last-child) {
  margin-right: 18px;
}

.call-back {
  position: relative;
  z-index: 5;
}

.whatsapp {
  background: #2DD038;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.viber {
  background: #7B519D;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

.telegram {
  background: #5BBAF0;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 60px;
  background: #333333;
}

.footer__content {
  max-width: 1070px;
  padding: 0px 15px;
  margin: 0px auto;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -25px;
}

.footer__top-item {
  margin: 0px 25px;
}

.footer__copy {
  border: 1px solid #4E4E4E;
  padding: 25px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #565656;
}

.item-footer-services__title {
  position: relative;
  top: 0;
  left: 0;
}

.item-footer-services__list {
  margin-bottom: 40px;
}

.item-footer-services__list li {
  margin-bottom: 16px;
}

.item-footer-menu__title {
  position: relative;
}

.item-footer-menu__list {
  margin-bottom: 40px;
}

.item-footer-menu__list li {
  margin-bottom: 16px;
}

.item-footer-call__title {
  position: relative;
}

.item-footer-call__list li {
  margin-bottom: 22px;
}

.item-footer-call__link {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: all .2s ease-in 0s;
  -o-transition: all .2s ease-in 0s;
  transition: all .2s ease-in 0s;
}

.item-footer-call__logo {
  margin-top: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: rgba(255, 255, 255, 0.12653);
  -webkit-transition: all .2s ease-in 0s;
  -o-transition: all .2s ease-in 0s;
  transition: all .2s ease-in 0s;
}

.ml {
  margin-left: 14px;
}

.big-mb {
  margin-bottom: 29px;
}

.bbig-mb {
  margin-top: 40px;
  margin-bottom: 50px;
}

.bread-crumbs {
  padding-top: 175px;
  padding-bottom: 35px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb li {
  color: #7D7D7D;
  font-size: 15px;
}

.breadcrumb li:last-child {
  margin: 2px 0px;
  text-decoration: underline;
}

.breadcrumb-item {
  font-weight: 500;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #86AFEF;
}

ul.breadcrumb li:after {
  content: "-";
  margin: 0px 7px;
  text-decoration: underline;
  cursor: pointer;
}

ul.breadcrumb li:hover:after {
  content: "-";
  margin: 0px 7px;
  text-decoration: none;
}

ul.breadcrumb li + li:last-child:after {
  content: "";
}

.attestation {
  background: white;
  padding-top: 40px;
  padding-bottom: 60px;
}

.attestation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 90px;
}

.buy {
  margin-right: 40px;
}

.buy__sale {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  margin-bottom: 13px;
}

.buy__sale-sale {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #87B0EE;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.buy__sale-sale::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 120px;
  height: 1px;
  background: #87B0EE;
}

.buy__form {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.buy__form span {
  font-weight: bold;
}

.buy__data {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  margin-bottom: 35px;
}

.buy__data span {
  font-weight: bold;
}

.electrick {
  position: relative;
  margin-right: 40px;
}

.electrick__title {
  text-align: left;
  margin-bottom: 12px;
}

.electrick__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #333333;
}

.tarin-black {
  position: absolute;
  top: -20px;
  right: 100px;
  display: none;
}

.tarin-orange {
  display: none;
  position: absolute;
  top: 10px;
  right: 50px;
  display: none;
}

.circle-big {
  display: none;
  position: absolute;
  top: -30px;
  right: 10px;
  display: none;
}

.train-orange-bottom {
  display: none;
  position: absolute;
  bottom: -20px;
  right: 100px;
  display: none;
}

.circle-bottom {
  display: none;
  position: absolute;
  bottom: -10px;
  right: 140px;
  display: none;
}

.attestation__content-first {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 40px;
}

.attestation__content-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 15px;
}

.attestation__content-subtitle {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  /* or 126% */
  color: #333333;
}

.attestation__content-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 55px;
}

.attestation__content-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.attestation__content-link img {
  margin-top: 5px;
  margin-right: 20px;
}

.security-form {
  padding-top: 60px;
  padding-bottom: 80px;
  background: #86ADEF;
}

.security-form__title {
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-attest__data {
  padding-bottom: 35px;
  border-bottom: 1px solid #678BC7;
}

.data-container {
  width: 360px;
}

.name__label {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
}

.name__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 17px 0px;
}

.rang__label {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
}

.rang__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 17px 0px;
}

.job__label {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
}

.job__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 17px 0px;
}

.electro__label {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
}

.electro__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 17px 0px;
}

.check__label {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
}

.check__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 17px 0px;
}

.data-inp__label {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
}

.data-inp__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 17px 0px;
}

.delivery {
  padding-top: 35px;
}

.delivery__min-input {
  padding: 17px 0px;
}

.delivery__wraper-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  padding-left: 10px;
}

.delivery__big-input {
  padding: 17px 0px;
  padding-left: 17px;
}

.news__container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.news__title {
  text-align: left;
  margin-bottom: 40px;
}

.news__body {
  display: -ms-grid;
  display: grid;
  margin-bottom: 45px;
}

.news__item {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  width: 265px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.item-news__image {
  width: 215px;
  height: 146px;
}

.item-news__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-news__data {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ABABAB;
}

.item-news__data:not(:last-child) {
  margin: 14px 0px 14px 0px;
}

.item-news__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #333333;
}

.item-news__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-news__content {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.num {
  margin-bottom: 65px;
}

.num__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.num__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  border: 2px solid #D0D0D0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #CFCFCF;
  margin-right: 5px;
}

.num__item-active {
  border: 2px solid #87B0EE;
  color: #87B0EE;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  text-align: left;
  font-weight: 800;
}

.contacts__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
}

.contacts__phone {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.contacts__phone a {
  color: #333333;
}

.form-min {
  width: 460px;
  padding: 20px 0px;
  background: #87B0EE;
}

.form-min__container {
  width: 355px;
  margin: 0px auto;
  padding: 0 15px;
}

.form-min__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.form-min__name {
  margin-bottom: 15px;
}

.form-min__name-input {
  padding: 17px 0;
  padding-left: 10px;
}

.form-min__document {
  margin-bottom: 15px;
}

.form-min__document-input {
  padding: 17px 0;
  padding-left: 10px;
}

.form-min__phone {
  margin-bottom: 15px;
}

.form-min__phone-input {
  padding: 17px 0;
  padding-left: 10px;
}

.form-min__mail {
  margin-bottom: 10px;
}

.form-min__mail-input {
  padding: 17px 0;
  padding-left: 17px;
}

.form-min__button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.fullscreen-block {
  padding-top: 170px;
}

.block-full__row {
  margin: 0px -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-full__row-content {
  margin: 0px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-full__content-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #333333;
  margin-bottom: 17px;
}

.block-full__content-attestation {
  margin-bottom: 33px;
}

.block-full__content-attestation p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin-right: 10px;
}

.block-full__content-attestation span {
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  margin-left: 10px;
  color: #333333;
}

.block-full__content-btn {
  width: 211px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  transition: all .7s ease 0s;
}

.document {
  margin-top: 50px;
  margin-bottom: 70px;
}

.document-page {
  padding-top: 190px;
}

.document__title {
  margin-bottom: 30px;
}

.document__body {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.document__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  padding: 32px 70px;
  -webkit-transition: background .3s ease 0s;
  -o-transition: background .3s ease 0s;
  transition: background .3s ease 0s;
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
}

.document__item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  padding: 32px 70px;
  -webkit-transition: background .3s ease 0s;
  -o-transition: background .3s ease 0s;
  transition: background .3s ease 0s;
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
}

.document__item-image {
  margin-bottom: 20px;
}

.document__item-text {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.document__search {
  display: none;
}

.garanty {
  padding-top: 45px;
  padding-bottom: 70px;
  background: #F6F6F6;
}

.garanty__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.garanty__item {
  width: 190px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-garanty__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98px;
  height: 98px;
  background: #FFFFFF;
  border-radius: 50%;
}

.item-garanty__title {
  width: 100%;
  margin-bottom: 17px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}

.item-garanty__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  /* or 147% */
  text-align: center;
  color: #333333;
}

.science {
  padding-bottom: 120px;
}

.science__container {
  position: relative;
}

.slider-science {
  position: relative;
}

.slider-science__item {
  padding: 50px 25px;
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.slider-science__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 149px;
          flex: 0 0 149px;
}

.slider-science__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-science__title {
  margin-top: 20px;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.slider-science__accept {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #53B43B;
}

.slider-science__accept::before {
  content: "";
}

.slider-science__price {
  margin-top: 20px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11px;
          flex: 0 0 11px;
  height: 11px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0px;
  background: #E4E4E4;
  margin-right: 12px;
}

.swiper-pagination-bullet-active {
  background: white;
  border: 2px solid #84AAED;
}

.sertificate {
  padding-top: 55px;
  padding-bottom: 75px;
  background: #F6F6F6;
}

.sertificate__title {
  margin-bottom: 30px;
}

.slider-sertificate {
  position: relative;
}

.slider-sertificate__item {
  width: 225px;
  height: 306px;
  background: #ECEBE9;
}

.slider-sertificate__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__prew {
  position: absolute;
  top: 50%;
  right: -70px;
}

.slider__next {
  position: absolute;
  top: 50%;
  left: -70px;
}

.reload {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 19px;
  text-decoration: underline;
}

@media (min-width: 767.98px) {
  .header__bottom {
    margin-top: 35px;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .logo__logo::after {
    content: "";
    width: 2px;
    height: 40px;
    border: 1px solid #89AFEF;
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo__task {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
  }

  .call-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .call-back__row-left {
    margin-right: 30px;
  }

  .call-back__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
    margin-left: 5px;
  }

  .call-back__phone p {
    margin-left: 5px;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #333333;
  }

  .call-back__phone:not(:last-child) {
    margin-bottom: 10px;
  }

  .call-back__mail-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .call-back__mail img {
    margin-right: 5px;
  }

  .call-back__mail-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    color: #333333;
  }

  .security-form__title {
    text-align: left;
  }

  .form-attest__data {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 25px;
  }

  .delivery__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .delivery__min-input {
    width: 164px;
    margin-right: 25px;
  }

  .delivery-big__container {
    width: 555px;
    margin-right: 25px;
  }

  ._no-webp .fullscreen-block{
    background: url(../img/fullscreen-block/bg1.jpg) no-repeat right 0; }

  .block-full__row-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 390px;
            flex: 0 1 390px;
    margin-top: -7px;
  }
}

@media (min-width: 767.98px) and (any-hover: hover) {
  .call-back__phone p:hover {
    text-decoration: underline;
  }

  .call-back__mail-link:hover {
    text-decoration: underline;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .tarin-black {
    display: block;
  }

  .tarin-orange {
    display: block;
  }

  .circle-big {
    display: block;
  }

  .train-orange-bottom {
    display: block;
  }

  .circle-bottom {
    display: block;
  }

  .news__body {
    -ms-grid-columns: (220px)[4];
    grid-template-columns: repeat(4, 220px);
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    row-gap: 75px;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .news__title {
    margin-left: -25px;
  }
}

@media (min-width: 1350px) {
  .document__body {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 1350px) {
  .document__body {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .data-container {
    width: 300px;
  }

  .news__body {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    row-gap: 75px;
  }
}

@media (max-width: 1182px) {
  .footer__top {
    margin: 0px -12.5;
  }

  .footer__top-item {
    margin: 0px 12.5px;
  }

  .slider__prew {
    right: 0;
  }

  .slider__next {
    left: 0;
  }
}

@media (max-width: 1170px) {
  .title-footer {
    font-size: calc(16px + 6 * ((100vw - 320px) / 850));
  }

  .link-footer {
    font-size: calc(10px + 4 * ((100vw - 320px) / 850));
  }

  .title-main {
    font-size: calc(22px + 14 * ((100vw - 320px) / 850));
  }

  .header__link {
    margin-left: calc(27px + 18 * ((100vw - 320px) / 850));
  }

  .header__link {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }

  .logo__logo {
    font-size: calc(31px + 21 * ((100vw - 320px) / 850));
  }

  .footer {
    padding-top: calc(35px + 25 * ((100vw - 320px) / 850));
  }

  .footer__copy {
    font-size: calc(10px + 4 * ((100vw - 320px) / 850));
  }

  .item-footer-call__link {
    font-size: calc(12px + 5 * ((100vw - 320px) / 850));
  }

  .bread-crumbs {
    padding-top: calc(95px + 80 * ((100vw - 320px) / 850));
  }

  .bread-crumbs {
    padding-bottom: calc(30px + 5 * ((100vw - 320px) / 850));
  }

  .breadcrumb li {
    font-size: calc(13px + 2 * ((100vw - 320px) / 850));
  }

  .attestation {
    padding-bottom: calc(35px + 25 * ((100vw - 320px) / 850));
  }

  .attestation__row {
    padding-bottom: calc(55px + 35 * ((100vw - 320px) / 850));
  }

  .buy__sale {
    font-size: calc(12px + 3 * ((100vw - 320px) / 850));
  }

  .buy__sale-sale {
    font-size: calc(18px + 18 * ((100vw - 320px) / 850));
  }

  .buy__sale-sale::before {
    bottom: calc(12px + -7 * ((100vw - 320px) / 850));
  }

  .buy__sale-sale::before {
    width: calc(60px + 60 * ((100vw - 320px) / 850));
  }

  .buy__form {
    font-size: calc(12px + 3 * ((100vw - 320px) / 850));
  }

  .buy__data {
    font-size: calc(12px + 3 * ((100vw - 320px) / 850));
  }

  .attestation__content-first {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .attestation__content-title {
    font-size: calc(19px + 5 * ((100vw - 320px) / 850));
  }

  .attestation__content-subtitle {
    font-size: calc(13px + 6 * ((100vw - 320px) / 850));
  }

  .attestation__content-list li {
    margin-left: calc(23px + 32 * ((100vw - 320px) / 850));
  }

  .attestation__content-link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .security-form {
    padding-top: calc(35px + 25 * ((100vw - 320px) / 850));
  }

  .security-form {
    padding-bottom: calc(50px + 30 * ((100vw - 320px) / 850));
  }

  .form-attest__data {
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / 850));
  }

  .delivery {
    padding-top: calc(20px + 15 * ((100vw - 320px) / 850));
  }

  .news__title {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .news__body {
    margin-bottom: calc(35px + 10 * ((100vw - 320px) / 850));
  }

  .news__item {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .news__item {
    padding-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .news__item {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .news__item {
    width: calc(248px + 17 * ((100vw - 320px) / 850));
  }

  .num {
    margin-bottom: calc(40px + 25 * ((100vw - 320px) / 850));
  }

  .block-full__content-title {
    font-size: calc(23px + 17 * ((100vw - 320px) / 850));
  }

  .block-full__content-attestation p {
    font-size: calc(16px + 8 * ((100vw - 320px) / 850));
  }

  .block-full__content-attestation span {
    font-size: calc(16px + 8 * ((100vw - 320px) / 850));
  }

  .block-full__content-btn {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }

  .document-page {
    padding-top: calc(80px + 110 * ((100vw - 320px) / 850));
  }

  .document {
    margin-top: calc(27px + 23 * ((100vw - 320px) / 850));
  }

  .document {
    margin-bottom: calc(35px + 35 * ((100vw - 320px) / 850));
  }

  .document__item-text {
    font-size: calc(13px + 6 * ((100vw - 320px) / 850));
  }

  .garanty {
    padding-top: calc(25px + 20 * ((100vw - 320px) / 850));
  }

  .garanty {
    padding-bottom: calc(40px + 30 * ((100vw - 320px) / 850));
  }

  .item-garanty__title {
    font-size: calc(16px + 6 * ((100vw - 320px) / 850));
  }

  .item-garanty__text {
    font-size: calc(13px + 4 * ((100vw - 320px) / 850));
  }

  .science {
    padding-bottom: calc(60px + 60 * ((100vw - 320px) / 850));
  }

  .sertificate {
    padding-top: calc(35px + 20 * ((100vw - 320px) / 850));
  }

  .sertificate {
    padding-bottom: calc(45px + 30 * ((100vw - 320px) / 850));
  }

  .reload {
    font-size: calc(16px + 3 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1150px) {
  .button {
    width: 160px;
    height: 36px;
  }
}

@media (max-width: 1100px) {
  .social {
    margin-left: -30px;
  }

  .call-back {
    margin-left: -70px;
  }

  .news__body {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 75px;
  }
}

@media (max-width: 1000px) {
  .call-back__row-left {
    margin-left: 15px;
  }

  .data-container {
    width: 230px;
  }

  .bcpt {
    padding-top: 220px;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .call-back__btn {
    display: none;
  }

  .attestation__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .buy__btn {
    margin-left: 22%;
  }

  .electrick__title {
    text-align: center;
  }

  .electrick__text {
    text-align: center;
  }

  .news__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    row-gap: 55px;
  }

  .document__body {
    gap: 20px;
  }

  .document__item {
    padding: 25px 55px;
  }

  .document__item-2 {
    padding: 25px 55px;
  }
}

@media (max-width: 991px) {
  .call-back {
    margin-left: 0px;
  }
}

@media (max-width: 840px) {
  .document__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 5px;
    height: 70px;
  }

  .header__navigation {
    text-align: center;
    position: fixed;
    top: -100%;
    left: 0;
    padding: 220px 15px 40px 15px;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s ease-in 0s;
    -o-transition: all .4s ease-in 0s;
    transition: all .4s ease-in 0s;
    background: white;
  }

  .header__navigation._active {
    top: 0;
  }

  .header__list li:not(:last-child) {
    margin-bottom: 25px;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__link {
    font-size: 24px;
    font-weight: bold;
  }

  .social {
    margin-left: -53px;
  }

  .social__item {
    width: 35px;
    height: 35px;
  }

  .social__item:not(:last-child) {
    margin-right: 15px;
  }

  .call-back {
    margin-left: -35px;
  }

  .call-back__row-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .call-back__phone img {
    width: 30px;
    margin-right: 35px;
  }

  .call-back__phone p {
    display: none;
  }

  .call-back__mail-link {
    display: none;
  }

  .call-back__mail img {
    width: 40px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 28px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__top-item {
    text-align: center;
  }

  .footer__copy {
    padding: 15px 0px;
  }

  .item-footer-services__title {
    display: inline-block;
  }

  .item-footer-services__title::before {
    content: "";
    background: white;
    -webkit-transition: -webkit-transform .2s ease 0s;
    transition: -webkit-transform .2s ease 0s;
    -o-transition: transform .2s ease 0s;
    transition: transform .2s ease 0s;
    transition: transform .2s ease 0s, -webkit-transform .2s ease 0s;
    height: 2px;
    width: 13px;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    right: -50px;
  }

  .item-footer-services__title::after {
    content: "";
    background: white;
    height: 2px;
    width: 13px;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    right: -42px;
  }

  .item-footer-services__title._active {
    text-align: center;
  }

  .item-footer-services__title._active::before {
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
  }

  .item-footer-services__title._active::after {
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
  }

  .item-footer-menu__title {
    display: inline-block;
  }

  .item-footer-menu__title::before {
    content: "";
    background: white;
    -webkit-transition: -webkit-transform .2s ease 0s;
    transition: -webkit-transform .2s ease 0s;
    -o-transition: transform .2s ease 0s;
    transition: transform .2s ease 0s;
    transition: transform .2s ease 0s, -webkit-transform .2s ease 0s;
    height: 2px;
    width: 13px;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    right: -50px;
  }

  .item-footer-menu__title::after {
    content: "";
    background: white;
    height: 2px;
    width: 13px;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    right: -42px;
  }

  .item-footer-menu__title._active {
    text-align: center;
  }

  .item-footer-menu__title._active::before {
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
  }

  .item-footer-menu__title._active::after {
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
  }

  .item-footer-call__title {
    display: inline-block;
  }

  .item-footer-call__title::before {
    content: "";
    background: white;
    -webkit-transition: -webkit-transform .2s ease 0s;
    transition: -webkit-transform .2s ease 0s;
    -o-transition: transform .2s ease 0s;
    transition: transform .2s ease 0s;
    transition: transform .2s ease 0s, -webkit-transform .2s ease 0s;
    height: 2px;
    width: 13px;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    right: -50px;
  }

  .item-footer-call__title::after {
    content: "";
    background: white;
    height: 2px;
    width: 13px;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    right: -42px;
  }

  .item-footer-call__title._active {
    text-align: center;
  }

  .item-footer-call__title._active::before {
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
  }

  .item-footer-call__title._active::after {
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
  }

  .buy__btn {
    margin-left: 18%;
  }

  .data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .delivery__min-input {
    margin-bottom: 20px;
  }

  .delivery-big__container {
    margin-bottom: 20px;
  }

  .news__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 45px;
  }

  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-full__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-full__row-content {
    text-align: center;
  }

  .block-full__content-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-full__row-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .garanty__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .swiper-pagination-bullets {
    left: 45%;
  }
}

@media (max-width: 767px) {
  .bcpt {
    padding-top: 80px;
  }
}

@media (max-width: 500px) {
  .social {
    margin-top: 25px;
    margin-left: 40px;
  }

  .document__body {
    display: block;
  }

  .document__item {
    margin-bottom: 30px;
  }

  .document__item-2 {
    margin-bottom: 30px;
  }

  .document__search {
    margin-top: 25px;
    display: block;
    font-weight: 600;
    font-size: 17px;
    text-decoration: underline;
    line-height: 23px;
    text-align: center;
    color: #333333;
  }

  .document__item:nth-child(5) {
    display: none;
  }

  .document__item:nth-child(6) {
    display: none;
  }

  .document__item:nth-child(7) {
    display: none;
  }

  .document__item:nth-child(8) {
    display: none;
  }

  .document__item:nth-child(9) {
    display: none;
  }

  .document__item:nth-child(10) {
    display: none;
  }

  .document__item:nth-child(11) {
    display: none;
  }

  .document__item:nth-child(12) {
    display: none;
  }
}

@media (max-width: 500px) and (max-width: 1170px) {
  .document__item {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .document__item-2 {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 479.98px) {
  .header__link {
    font-size: 19px;
  }

  ul.breadcrumb li:after {
    text-decoration: none;
  }

  .buy__btn {
    margin-left: 14%;
  }

  .news__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__social {
    padding-bottom: 40px;
  }

  .form-min__title {
    text-align: center;
  }

  .form-min__name-input {
    width: 270px;
  }

  .form-min__document-input {
    width: 270px;
  }

  .form-min__phone-input {
    width: 270px;
  }

  .form-min__mail-input {
    width: 270px;
  }

  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .fullscreen-block {
    padding-top: 120px;
  }

  .swiper-pagination-bullets {
    left: 40%;
  }
}

@media (max-width: 340px) {
  .call-back {
    margin-left: 9px;
  }
}

@media (min-width: 767.98px) and (max-width: 1170px) {
  .logo__task {
    font-size: calc(10px + 4 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #ff843d;
  }

  .link-footer:hover {
    color: #F6BD60;
  }

  .header__link:hover {
    text-decoration: underline;
  }

  .item-footer-call__link:hover {
    color: #F6BD60;
  }

  .item-footer-call__logo:hover {
    color: #F6BD60;
  }

  .block-full__content-btn:hover {
    background: #6780db;
  }

  .document__item:hover {
    background: #E8E8E8;
  }

  .document__item-2:hover {
    background: #E8E8E8;
  }
}

@media (min-width: 767.98px){

  ._webp .fullscreen-block{ background: url(../img/fullscreen-block/bg1.webp) no-repeat right 0; }
}